<div class="box">
  <div class="content">
    <div class="teacher-profile">
      <div class="header">

        <div class="avatar">
          <%= image_tag url_for_profile_image(@teacher), loading: "lazy" %>
        </div>

        <div class="teacher-info">
          <span class="teacher-name">
            <%= @teacher.label_name %>
          </span>

          <% if @teacher.interests.present? %>
            <h5>Interesses</h5>
            <%= @teacher.interests %>
          <% end %>

          <h5>Cursos</h5>
          <div class="tags">
            <% @teacher.courses.each do |course| %>
              <span class="tag">
                <%= course.name %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="contacts">
          <% if @teacher.whatsapp.present? %>
            <div class="whatsapp">
              <%= icon("fab", "whatsapp") %>
              <%= link_to "https://api.whatsapp.com/send?phone=55#{@teacher.whatsapp}", target: '_blank' do %>
                <%= format_phone(@teacher.whatsapp) %>
              <% end %>
            </div>
          <% end %>

          <div class="email">
            <%= icon("far", "envelope") %>
            <%= link_to "mailto:#{@teacher.email}" do %>
              <%= @teacher.email %>
            <% end %>
          </div>
        </div>

        <div class="button">
          <%= teacher_card_button_type(@teacher.id) %>
        </div>
      </div>

      <h4>Trabalhos</h4><br>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="resume" aria-selected="true">Orientando</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="historical-tab" data-toggle="tab" href="#historical" role="tab" aria-controls="historical" aria-selected="true">Orientados</a>
        </li>
      </ul>
      <br>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="resume" role="tabpanel" aria-labelledby="resume-tab">
          <%= render 'student/teachers/shared/work_list', works: @works_advising %>
        </div>
        <div class="tab-pane fade" id="historical" role="tabpanel" aria-labelledby="historical-tab">
          <%= render 'student/teachers/shared/work_list', works: @works_advised %>
        </div>
      </div>
    </div>
  </div>
</div>
