<div class="event-header">
  <h6 class="event-title">
    <span class="event-color" style="background: <%= @event.color %>;"> </span>
    <%= @event.title %>
  </h6>
   <% if @event.created_by == @current_user %>
    <div class="actions">
      <%= link_to edit_student_event_path(id: @event.id, work_id: @work.id), remote: true, class: 'btn btn-light rounded-circle' do %>
        <%= icon("fas", "pen") %>
      <% end %>
      <%= link_to student_event_path(id: @event.id, work_id: @work.id), data: { confirm: 'Deseja mesmo excluir este evento?' }, method: :delete, class: 'btn btn-light rounded-circle' do %>
        <%= icon("fas", "trash") %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="event-body">
  <span>
    <%= icon("fas", "calendar") %>
    <%= l(@event.event_date, format: '%A').capitalize %> -
    <%= l(@event.event_date, format: '%d %b') %>
  </span>

  <span>
    <%= icon("fas", "clock") %>
    <%= l(@event.event_date, format: '%H:%M') %>h
  </span>

  <span>
    <%= icon("fas", "user") %>
    <%= @event.created_by.email %>
  </span>

  <% if @event.online? %>
    <span>
      <%= icon("fas", "mobile-alt") %> Online
    </span>
    <span>
      <%= icon("fas", "link") %> <%= @event.room_url %>
    </span>
  <% else %>
    <span>
      <%= icon("fas", "map") %> <%= @event.place %>
    </span>
  <% end %>

  <% if @event.description.present? %>
    <span class="event-description">
      <%= @event.description %>
    </span>
  <% end %>
</div>
