<div class="box">
  <div class="content">
    <%= render 'student/works/tabs' %>
    <div class="review-info">
      <div class="review-info-header">
        <div class="review-info-status">
          <%= review_status_badge(@review.status) %>
        </div>
        <% if @review.open? || @review.created_by == @current_user %>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle col-md-12 col-sm-12 col-12 mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opções
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= nav_dropdown_item "Editar", edit_student_review_path(work_id: @work.id, id: @review.id), '' if @review.created_by == @current_user %>
              <%= nav_dropdown_item "Fechar", close_student_review_path(work_id: @work.id, id: @review.id), '', data: { confirm: 'Deseja mesmo fechar essa Revisão?'} if @review.open? %>
            </div>
          </div>
        <% end %>
      </div>
      <h2><%= @review.title %> <%= @review.creation_number %></h2>
      <div class="review-info-creation mb-3">
        Criada por
        <span data-toggle="popover" data-placement="top" data-html="true" data-trigger='hover click' data-content="<%= "#{render 'layouts/shared/user_popover', user: @review.created_by}"%>">
          <%= image_tag url_for_profile_image(@review.created_by), class: "header-profile-image", style: 'cursor: pointer;' %>
          <strong><%= @review.created_by.label_name %></strong>
        </span>
        há
        <span data-toggle="tooltip" data-placement="top", title="<%= "#{@review.created_at.strftime("%d/%m/%Y")} às #{ @review.created_at.strftime("%H:%M")}" %>">
          <%= time_ago_in_words(@review.created_at) %>
        </span>
      </div>
      <p><%= @review.description.html_safe %></p>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="resume" aria-selected="true">Resumo</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="historical-tab" data-toggle="tab" href="#historical" role="tab" aria-controls="historical" aria-selected="true">Histórico</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="resume" role="tabpanel" aria-labelledby="resume-tab">
          <%= render 'student/reviews/shared/resume' %>
        </div>
        <div class="tab-pane fade" id="historical" role="tabpanel" aria-labelledby="historical-tab">
          <%= render 'student/reviews/shared/historical' %>
        </div>
      </div>
    </div>
  </div>
</div>
