<div class="box">
  <div class="content row">
    <div class="content-title">
      Trocar Senha
    </div>
    <div class="profile-basic col-md-12">
      <%= form_for @user, url: update_password_student_me_path do |f| %>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :current_password %>
            <%= password_field_tag :current_password, nil, class: "form-control", required: true %>
          </div>
        </div>

         <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
        </div>
        <button type="submit" id="save-profile-btn" class="btn btn-dark float-right">Salvar <%= icon("fas", "arrow-right") %></button>
      <% end %>
    </div>
  </div>
</div>
