<div class="notification-card">
  <div class="notification-body">
    <span data-toggle="popover" data-placement="top" data-html="true" data-trigger='hover click' data-content="<%= "#{render 'layouts/shared/user_popover', user: notification.user}"%>">
      <%= image_tag url_for_profile_image(notification.user), class: "header-profile-image", style: 'cursor: pointer;' %>
    </span>

    <strong><%= notification.user.label_name %></strong>
    <%= Notification.human_attribute_name("action.#{notification.action}") %>
     um(a)
     <%= notification.notifiable.class.model_name.human(count: 1).downcase %>
  </div>
</div>
