<div class="discussion-answer-card">
  <div class="mt-3 answer-header">
    <div class="info">
      <span data-toggle="popover" data-placement="top" data-html="true" data-trigger='hover click' data-content="<%= "#{render 'layouts/shared/user_popover', user: answer.created_by}"%>">
        <%= image_tag url_for_profile_image(answer.created_by), class: "header-profile-image", style: 'cursor: pointer;' %>
        <strong><%= answer.created_by.label_name %></strong>
      </span>
      <span data-toggle="tooltip" data-placement="top", title="<%= "#{answer.created_at.strftime("%d/%m/%Y")} às #{ answer.created_at.strftime("%H:%M")}" %>">
        há
        <%= time_ago_in_words(answer.created_at) %>
      </span>

      <div class="answer-content">
        <%= answer.content.html_safe %>
      </div>

      <%= link_to toggle_like_teacher_discussion_discussion_answer_path(id: answer.id, work_id: @work.id, discussion_id: @discussion.id) do %>
        <%= current_user_like_icon(answer) %> <%= answer.likes.count %>
      <% end %>
    </div>

    <div class="actions">
      <% if answer.created_by == @current_user %>
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-display="static" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" data-placement="top">
              <%= icon("fas", "ellipsis-h") %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= nav_dropdown_item "Editar", edit_teacher_discussion_discussion_answer_path(id: answer.id, work_id: @work.id, discussion_id: @discussion.id), 'pen', remote: true %>
              <%= link_to teacher_discussion_discussion_answer_path(id: answer.id, work_id: @work.id, discussion_id: @discussion.id), method: :delete, class: "dropdown-item", data: { confirm: "Tem certeza que deseja remover?" } do %>
                <%= icon("fas", "trash") %> Remover
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
