<h3 class="d-flex justify-content-center mb-3"><%= @work_version.title %></h3>
<div class="d-flex justify-content-center">
  <% if @work_version.file.content_type == 'application/pdf' %>
    <object width="800" height="1000" type="application/pdf" data=<%= url_for(@work_version.file) %>>
      <object width="700" height="450" data=<%= "https://docs.google.com/gview?embedded=true&url=https://#{request.host_with_port}#{url_for(@work_version.file)}" %>>
          <div class="fallback-file">
            <%= icon('far', 'file-pdf') %>
            <%= link_to 'Visualizar versão', url_for(@work_version.file), target: '_blank' %>
          </div>
      </object>
    </object>
  <% else %>
    <object width="700" height="450" data=<%= "https://view.officeapps.live.com/op/embed.aspx?src=http://#{request.host_with_port}#{url_for(@work_version.file)}" %>>
      <div class="fallback-file">
        <%= icon('far', 'file-pdf') %>
        <%= link_to 'Visualizar versão', url_for(@work_version.file), target: '_blank' %>
      </div>
    </object>
  <% end %>
</div>

<%= render 'student/comments/comments', commentable: @work_version %>
