<div class="work-item">
  <div class="work-item-header">
    <div class="work-item-status">
      <%= work_status_badge(work.status) %>
    </div>
  </div>

  <div class="work-item-body">
     <div>
      <span data-toggle="tooltip" data-placement="top" title="<%= work.theme_label %>">
        <%= work.theme_label.truncate(23) %>
      </span>
    </div>

    <div class="work-item-last-modification">
      <small class="text-muted">Atualizado hรก <%= time_ago_in_words(work.last_update_date) %></small>
    </div>
  </div>

  <div class="work-item-actions">
    <%= link_to student_work_path(work), class: "btn btn-light" do %>
      <%= icon("fas", "eye") %>
    <% end %>
    <%= link_to edit_student_work_path(work), class: "btn btn-light", remote: true do %>
      <%= icon("fas", "pen") %>
    <% end %>
    <%= link_to student_work_path(work), class: "btn btn-light", method: :delete, data: { confirm: "Tem certeza que deseja remover?" } do %>
      <%= icon("fas", "trash") %>
    <% end if can_access_work_action?(work) %>
  </div>
</div>
