<div class="box">
  <div class="content">
    <%= render 'tabs' %>
    <div class="view-work">
      <div class="view-work-basic-info">
        <h3><%= @work.theme_label %></h3>
        <p><%= @work.description %></p>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= render 'student/works/versions/list' %>
        </div>
        <div class="col-md-4">
          <%= render 'student/works/versions/members' %>
        </div>
      </div>
    </div>
  </div>
</div>
