<div class="box">
  <div class="content">
    <%= render 'tabs' %>
    <div class="view-work">
      <div class="view-work-basic-info">
        <div class="work-header">
          <h3 class="work-theme"><%= @work.theme_label %></h3>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle col-md-12 col-sm-12 col-12 mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opções
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%=
                if @work.in_progress?
                  nav_dropdown_item "Concluir", conclude_student_work_path(@work), '', data: { confirm: 'Tem certeza que deseja concluir?' }, method: :patch
                elsif @work.concluded?
                  nav_dropdown_item "Reiniciar", restart_student_work_path(@work), '', data: { confirm: 'Tem certeza que deseja reiniciar?' }, method: :patch
                end
              %>
              <%= nav_dropdown_item "Editar", edit_student_work_path(@work), '', remote: true  %>
              <%= nav_dropdown_item "Excluir", student_work_path(@work), '', data: { confirm: 'Tem certeza que deseja remover?' }, method: :delete %>
            </div>
          </div>
        </div>
        <p><%= @work.description.html_safe %></p>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= render 'student/works/versions/list' %>
        </div>
        <div class="col-md-4">
          <%= render 'student/works/versions/members' %>
        </div>
      </div>
    </div>
  </div>
</div>
