<div class="card-body">
  <div class="card-title-container">
    <span class="card-title">
      Redefinir senha
    </span>
  </div>

  <%= form_with url: student_password_resets_path(token: params[:token]), method: :put, autocomplete: "disabled" do |form| %>
    <div class="form-row">
      <div class="input-group mb-3">
        <%= form.password_field :password, class: "form-control sign-input-rounded", placeholder: "Nova senha", autofocus: true, required: true %>
      </div>
      <div class="input-group mb-3">
        <%= form.password_field :password_confirmation, class: "form-control sign-input-rounded", placeholder: "Confirmação de senha", autofocus: true, required: true %>
      </div>
    </div>
    <div class="sign-submit-container">
      <%= form.submit "Redefinir senha", class: "btn btn-dark float-righ sign-submit" %>
    </div>
  <% end %>
</div>
<div class="card-footer text-muted">
  <small class="text-muted">Já possui uma conta? Acesse <%= link_to  "aqui", sign_in_path %>.</small>
  <br>
</div>
