<div class="site-home-mobile">
  <div class="logo-gray"></div>
  <div class="site-ilustration"><%= image_tag "ilustrations/home.png" %></div>
  <span class="site-title">lorem ipson</span>
  <span class="site-subtitle"> lorem ipson dolor sit amet, consectetreu adpisdhad elit, sed diam nonummy nibh.</span>
  <%= link_to "Entrar", sign_in_path, class: "signin-button" %>
  <%= link_to "Cadastrar-se", sign_up_path, class: "signup-button" %>
  <footer class="site-footer">
    © <%= Date.today.year %> - Workify
  </footer>
</div>

<div class="site-home-desktop">
  <div class="site-header">
    <div class="logo-gray"></div>
    <div class="site-header-buttons">
      <%= link_to "Entrar", sign_in_path, class: "signin-button" %>
      <%= link_to "Cadastrar-se", sign_up_path, class: "signup-button" %>
    </div>
  </div>

  <div class="site-content">
    <div class="site-text">
      <span class="site-title">lorem ipson</span>
      <span class="site-subtitle"> lorem ipson dolor sit amet, consectetreu adpisdhad elit, sed diam nonummy nibh.</span>
    </div>
    <div class="site-ilustration"><%= image_tag "ilustrations/home.png", class: "img-fluid" %></div>
  </div>

  <footer class="site-footer">
    © <%= Date.today.year %> - Workify
  </footer>
</div>
