<%= form_with(model: @review, url: path, local: false, html: { autocomplete: :off }) do |f| %>

  <% if @review.open? || @review.status.nil? %>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :new_work_version %>
        <%= f.select :new_work_version_id, options_from_collection_for_select(@work_versions, :id, :title, @review.new_work_version_id), { include_blank: 'Sem versão' }, class: 'select2 form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :description %>
      <%= f.cktext_area :description %>
    </div>
  </div>

  <div class="text-right">
    <%= link_to "Cancelar", 'javascript:history.back()', class: 'btn btn-danger btn-rounded' %>
    <button type="submit" class="btn-rounded btn btn-dark">Salvar <%= icon("fas", "arrow-right") %></button>
  </div>
<% end %>
<br>
